<!doctype html>
<html>
 <head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
 <title>Title</title> 
 </head>
 <body>
<section>
<h1>Header</h1><hr>
<article>
<p>Paragraph</p><br>
<p><strong>Strong</strong><br>
	<b>Bold</b><br>
	<i>Italic</i><br>
	<u>Underscore</u><br>
	<blockquote>Blockquote</blockquote>
</article>
<--Height or width follows the ratio of the other.-->
<img src="/Development/Web/Templates/Sun Face.png" width="250px"> 
</section>
<--Links can direct to items such as for downloading.-->
	<a href="https://www.google.com">Google</a>
<hr>
<a href="https://www.google.com" target="_blank">Google New Tab</a><br>
<--Clickable image to move or download.-->
	<a href="~/documents/htmlfundamentals.pdf"
target="_blank">

  <img src="~/images/picure1.jpg">
</a>


 </body>
</html>
